/coding-examples-parent.iml
/base-java-rest-endpoint-consumption-project/base-java-rest-endpoint-consumption-project.iml
/activemq-project/activemq-project.iml
/empty-project/empty-project.iml
/activemq-project/target/
/base-java-rest-endpoint-consumption-project/target/
/empty-project/target/
/swagger-project/swagger-project.iml
/swagger-project/target/
/spring-admin-project/target/
/spring-admin-project/spring-admin-project.iml
*.iml